<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>상세 페이지</title>
</head>
<body>

<h2 th:text="${personalDetailDto.name}"></h2>
<p th:inline="text">작성일 : [[${#temporals.format(personalDetailDto.createdTime, 'yyyy-MM-dd HH:mm')}]]</p>
<p th:inline="text">수정일 : [[${#temporals.format(personalDetailDto.modifiedTime, 'yyyy-MM-dd HH:mm')}]]</p>
<p th:text="${personalDetailDto.age}"></p>
<p th:text="${personalDetailDto.major}"></p>
<p th:text="${personalDetailDto.introduction}"></p>

<a th:href="@{'/personal_detail/post/edit/' + ${personalDetailDto.id}}">
    <button> 수정 </button>
</a>
<form th:action="@{'/personal_detail/post/delete/' + ${personalDetailDto.id}}" th:method="delete">
    <button type="submit"> 삭제 </button>
</form>


</body>
</html>