<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
      <h1>등록된 인적사항이 보입니다.</h1>

    <form action="/personal_detail/search" method="GET">
        <div>
            <input name="keyword" type="text" placeholder="search">
            <button>search</button>
        </div>
    </form>
    </a>
  <br>
      <a th:href="@{/personal_detail/post}">인적사항 등록</a>
      <a th:href="@{/}">글 목록</a>
      <table>
        <thead>
        <tr>
          <th>등록번호</th>
          <th>이름</th>
          <th>나이</th>
          <th>전공</th>
            <th>날짜</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="personalDetail : ${personalDetailList}">
          <td>
            <span th:text="${personalDetail.id}"></span>
          </td>
          <td>
            <a th:href="@{'/personal_detail/post/' + ${personalDetail.id}}">
              <span th:text="${personalDetail.name}"></span>
            </a>
          </td>
          <td>
            <span th:text="${personalDetail.age}"></span>
          </td>
          <td>
            <span th:text="${personalDetail.major}"></span>
          </td>
          <td>
            <span th:text="${#temporals.format(personalDetail.createdTime, 'yyyy-MM-dd HH:mm')}"></span>
          </td>
        </tr>
        </tbody>
      </table>
    </div>


</body>
</html>